@import url("template.css");

main {
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    margin: 65px 0 0 0;
    padding: 30px;
    justify-content: space-evenly;
}

main > a {
    margin: 10px 5px;
    width: 24%;
    min-width: 250px; /*max-width: 300px;*/
    border: 1px solid rgb(200, 200, 200);
    text-decoration: none;
    color: rgb(10,10,10);
    box-shadow: 0 2px 2px rgba(120,120,120);
    transition: 0.2s;
}

main > a:hover {
    background-color: rgb(250,250,250);
    box-shadow: 0 5px 5px rgba(90,90,90);
}

main > a > video {
    width: 100%;
    background-color: lightgray;
}

main > a > h5 {
    margin: 10px 0 10px 10px;
}

