
/*---------------------------------------------*/
 /* "template.css" contem todas as configurações
    referentes ao html, body, cabeçalho e rodapé
    (header e footer)
 */
    @import url("template.css");
/*---------------------------------------------*/


main {
    /*background-color: lightgreen;*/
    width: 100%;
    margin: 65px 0 0 0;
    padding: 40px 0;

    display: flex;
    justify-content: center;
}

#video-principal {
    /*background-color: blanchedalmond;*/
    width: 55%;
    min-width: 250px;
    padding: 10px 5px;
}

#video-principal > video {
    width: 100%;
    box-shadow: 0 2px 2px rgb(120,120,120);
}

#video-principal > p {
    margin: 20px 10px;
    font-size: 20px;
}

#video-lista {
    background-color:rgb(245, 245, 245);
    margin: 0 0 0 25px;
    padding: 0 20px 20px 20px;
    width: 30%;
    min-width: 220px;
    /*flex-grow: 1;*/
    display: flex;
    flex-direction: column;
}

#video-lista > a {
    /*background-color: burlywood;*/
    width: 100%;
    text-decoration: none;
    color: black;
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid rgb(210, 210, 210);
    transition: 0.2s;
}

#video-lista > a:hover {
    background-color: rgb(235,235,235);
    box-shadow: 0 5px 5px rgba(120,120,120);
}

#video-lista > a > video {
    width: 40%;
    min-width: 100px;
    box-shadow: 0 2px 2px rgb(120,120,120);
}

#video-lista > a > p {
    /*background-color: blue;*/
    margin: 0;
    padding: 5px 15px;
    min-width: 100px;
}


@media screen and (max-width: 550px) {
    #video-lista {display: none;}
    footer {position: fixed; bottom: 0;}
} 