body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}


#main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*--------------------------------------------*/

#top-container {
    display: flex;
    /*flex-basis: 6.5%;*/ /*definido ao final do CSS*/
}

.green-background {
    background-color: green;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-background {
    background-color: yellow;
    color: black;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------------------------*/

.pink-background {
    background-color: fuchsia;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-basis: 62%;*/ /*definido ao final do CSS*/
}

/*--------------------------------------------*/

#middle-container {
    display: flex;
    flex-direction: row;
    /*flex-basis: 25%;*/ /*definido ao final do CSS*/
}

#content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    flex-basis: 50%;
}

#blank {
    flex-grow: 1;
}

#vertical-middle-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
}

#image{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

#extra{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
}

/*--------------------------------------------*/

#div-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    /*flex-basis: 6.5%;*/ /*definido ao final do CSS*/
}

/*
#top-container      {flex-grow: 0.5;}
.pink-background    {flex-grow: 6.6;}
#middle-container   {flex-grow: 2.3;}
#div-footer         {flex-grow: 0.5;}
*/

/*
#top-container      {height: 6.5%;}
.pink-background    {height: 62%;}
#middle-container   {height: 25%;}
#div-footer         {height: 6.5%;}
*/

#top-container      {flex-basis: 6.5%;}
.pink-background    {flex-basis: 62%;}
#middle-container   {flex-basis: 25%;}
#div-footer         {flex-basis: 6.5%;}
/*=============================================*/

#layout {
    height: 100%;
    position: fixed;
    top: 0;
    left: 40px;
    display: none;
}

#layout img {
    height: 100%;
    opacity: 1;
}

#teste {
    background-color: burlywood;
    height: 200px;
    display: flex;
    display: none;
    flex-direction: column;
}

#blue {
    background-color: blue;
    flex-grow: 1;
}

#red {
    background-color: red;
    flex-grow: 6;
}

#green {
    background-color: green;
    flex-grow: 1;
}


