html, body {margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}

header {
    background-color: dodgerblue;
    height: 120px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    padding: 0 0 0 2vw;
    margin: 0;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: #404040;
    width: 100%;
  }

#navbar li {
    float: left;
}

#navbar a {
    display: block;
    background-color: #404040;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 10px 25px;
    text-align: center;
}

#navbar a:hover {
    background-color: #666666;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #404040;
    color: white;
    padding: 8px 0;
    border-top: 1px solid #000000;
    text-align: center;
    font-size: 14px;
}
