* {box-sizing: border-box;}
html, body {margin: 0; padding: 0; font-family: 'Roboto', Arial, Helvetica, sans-serif;}


header {
    background-color: #00979c;
    height: 120px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 0 0 20px;
    margin: 0;
    position: sticky;
    top: -119px
}

header img {width: 120px}
header h1 {
    margin:0 0 0 30px;
    /*color: #00a4a6;*/
    color: white;
    font-size: 2.5em;
}
header a {text-decoration: none;}


#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: #f1c40f;
    width: 100%;
    position: sticky;
    top: 1px;
  }

#navbar li {
    float: left;
}
#navbar a {
    display: block;
    background-color: #f1c40f;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 12px 25px;
    text-align: center;
}
#navbar a:hover {
    background-color: #f4cf3e;
}
#navbar a.active{
    background-color: #d9b00d;
}

#container {
    padding: 0 2vw;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d9d9d9;
    /*background-color: #00979c;*/
    color: black;
    padding: 6px 0;
    border-top: 1px solid #000000;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
}

footer > div {
    display: inline-flex;
    /*background-color: green;*/
    vertical-align: middle;
    margin: 0 5vw 0 0;
}

footer img {
    width: 30px;
    margin: 0 10px 0 0;
    padding: 1px;
}
footer img:nth-child(3) {
    margin: 0;
}
footer img:hover {
    border:1px solid #8c8c8c;
}

